.article {
  margin: 0 0 70px;
}

.article-tags {
  color: #AAA;
  display: inline-block;

  > a {
    color: #AAA;
  }
}

.article-share {
  color: #AAA;
  display: inline-block;
  float: right;

  > a {
    color: #AAA;
  }
}
