@mixin social-link-image($name) {
  .social-link-#{ $name } {
    @include image-size('sprite-main/social-#{$name}.png');
    background-image: inline-asset('sprite-main/social-#{$name}.png');

    &:hover {
      background-image: inline-asset('sprite-main/social-#{$name}-hover.png');
    }

    .social-inverse > & {
      background-image: inline-asset('sprite-main/social-#{$name}-inverse.png');
    }

    .social-inverse > &:hover {
      background-image: inline-asset('sprite-main/social-#{$name}-inverse-hover.png');
    }
  }
}

.social-link {
  @extend .hide-text;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}

@include social-link-image(github);
@include social-link-image(linkedin);
@include social-link-image(twitter);
