.form {}

.form {

  &.__vertical {

    .tx {
      margin-top: 10px;
    }

    .btn {
      margin-top: 18px;
    }
  }

  &.__horizontal {

    .form-l {
      display: block;
      font-size: 18px;
      margin-top: 5px;
    }
  }
}
