.tag {
  @include position(absolute, 50% none none none);
  background-size: 100% 100%;
  height: 65px;
  margin-top: -30px;
  min-width: 120px;
  padding: 5px 15px;
  text-align: center;

  span {
    display: block;
    font-size: 32px;
    font-weight: $semi-bold;
    line-height: 1.1;
  }

  small {
    display: block;
    font-size: 17px;
    font-weight: $regular;
  }

  sup {
    font-size: 19px;
    font-weight: $semi-bold;
  }

  &:after {
    @include size(34px 65px);
    content: '';
  }
}

.tag.__right {
  border-radius: 0 7px 7px 0;
  right: 0;

  &:after {
    @include position(absolute, 0 100% none none);
  }
}

.tag.__left {
  border-radius: 7px 0 0 7px;
  left: 0;

  &:after {
    @include position(absolute, 0 none none 100%);
  }
}

.tag.__white {
  background: #fff;
  color: $color-light-blue;

  &.__left:after {
    background-image: inline-asset('tag/left-white.png');
  }

  &.__right:after {
    background-image: inline-asset('tag/right-white.png');
  }
}

.tag.__blue {
  background: $color-light-blue;
  color: #fff;

  &.__left:after {
    background-image: inline-asset('tag/left-blue.png');
  }

  &.__right:after {
    background-image: inline-asset('tag/right-blue.png');
  }
}

.tag.__red {
  background: #e74c3c;
  color: #fff;

  &.__left:after {
    background-image: inline-asset('tag/left-red.png');
  }

  &.__right:after {
    background-image: inline-asset('tag/right-red.png');
  }
}

.tag.__green {
  background: #4bcaad;
  color: #fff;

  &.__left:after {
    background-image: inline-asset('tag/left-green.png');
  }

  &.__right:after {
    background-image: inline-asset('tag/right-green.png');
  }
}

.has-tag {
  position: relative;

  &.__right {
    padding-right: 150px;
  }

  &.__left {
    padding-left: 150px;
  }
}
