@mixin asset-image($name) {
  $selector: asset-#{ $name };

  .#{ $selector } {
    @include image-size('sprite-main/#{$selector}.png');
    background-image: inline-asset('sprite-main/#{$selector}.png');
  }
}

.asset {
  @extend .hide-text;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}

@include asset-image(coderwall);
@include asset-image(github);
@include asset-image(mouse);
@include asset-image(pencil);
@include asset-image(tools);
@include asset-image(twitter);

.asset-rotator {
  @include size(16px);
  background: inline-asset('animated-rotator.gif');
}
