.highlight {

  .hll,
  pre {
    background-color: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 6px 10px;
  }

  .bp { color: #999; }
  .c  { color: #998; font-style: italic; }
  .c1 { color: #998; font-style: italic; }
  .cm { color: #998; font-style: italic; }
  .cp { color: #999; font-weight: bold; }
  .cs { color: #999; font-weight: bold; font-style: italic; }
  .err { color: #a61717; background-color: #e3d2d2; }
  .gc { color: #999; background-color: #eaf2f5; }
  .gd .x { color: #000; background-color: #FAA; }
  .gd { color: #000; background-color: #FDD; }
  .ge { font-style: italic; }
  .gh { color: #999; }
  .gi .x { color: #000; background-color: #AFA; }
  .gi { color: #000; background-color: #DAD; }
  .go { color: #888; }
  .gp { color: #555; }
  .gr { color: #A00; }
  .gs { font-weight: bold; }
  .gt { color: #A00; }
  .gu { color: #800080; font-weight: bold; }
  .il { color: #099; }
  .k  { font-weight: bold; }
  .kc { font-weight: bold; }
  .kd { font-weight: bold; }
  .kn { font-weight: bold; }
  .kp { font-weight: bold; }
  .kr { font-weight: bold; }
  .kt { color: #458; font-weight: bold; }
  .m  { color: #099; }
  .mf { color: #099; }
  .mh { color: #099; }
  .mi { color: #099; }
  .mo { color: #099; }
  .n  { color: #333; }
  .na { color: teal; }
  .nb { color: #0086b3; }
  .nc { color: #458; font-weight: bold; }
  .ne { color: #900; font-weight: bold; }
  .nf { color: #900; font-weight: bold; }
  .ni { color: purple; }
  .nn { color: #555; }
  .no { color: teal; }
  .nt { color: navy; }
  .nv { color: teal; }
  .o  { font-weight: bold; }
  .ow { font-weight: bold; }
  .s  { color: #D14; }
  .s1 { color: #D14; }
  .s2 { color: #D14; }
  .sb { color: #D14; }
  .sc { color: #D14; }
  .sd { color: #D14; }
  .se { color: #D14; }
  .sh { color: #D14; }
  .si { color: #D14; }
  .sr { color: #009926; }
  .ss { color: #990073; }
  .sx { color: #D14; }
  .vc { color: teal; }
  .vg { color: teal; }
  .vi { color: teal; }
  .w  { color: #BBB; }
}
