.contacts-link {
  @extend %link;
  @extend %link_style_grey-blue;

  &:before {
    @include size(19px 13px);
    background: inline-asset('sprite-main/contacts-link.png');
    content: '';
    display: inline-block;
    margin: 0 10px -1px 0;
  }

  &:hover:before {
    background: inline-asset('sprite-main/contacts-link-hover.png');
  }
}
