// top

.martop-L {
  margin-top: 125px !important;
}

.martop-M {
  margin-top: 60px !important;
}

.martop-S {
  margin-top: 40px !important;
}

.martop-XS {
  margin-top: 30px !important;
}

.martop-XXS {
  margin-top: 20px !important;
}

// bottom

.marbot-XS {
  margin-bottom: 30px !important;
}

// right

.maright-L {
  margin-right: 90px !important;
}
