#wrapper.showcase-carousel
  #carousel
    img(src='/assets/images/static/showcase/qwiksense-map.jpg', width='718', height='425')
    img(src='/assets/images/static/showcase/1to1mentor-big.jpg', width='718', height='425')
    img(src='/assets/images/static/showcase/xebia-gallery-big.jpg', width='718', height='425')
    img(src='/assets/images/static/showcase/qwiksense-big.jpg', width='718', height='425')
    img(src='/assets/images/static/showcase/wellpepper-big.jpg', width='718', height='425')
    img(src='/assets/images/static/showcase/hubskip-big.jpg', width='718', height='425')
