.wasmachine {

  .tag {
    text-align: left;
    left: -170px;
    top: auto;
  }

  .tag.__1 {
    bottom: 190px;
    width: 200px;
  }

  .tag.__2 {
    bottom: 290px;
    width: 160px;
  }

  .tag.__3 {
    bottom: 390px;
    width: 130px;
  }
}
