<div class="bubbles">
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/borodean">GITHUB</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/vborodean.jpg" width="135">
    </div>
    <div class="bubble-footer">Vadim Borodean</div>
  </div>

  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-linkedin" href="//ua.linkedin.com/pub/iryna-evseeva/33/90a/a98">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/ievseeva.jpg" width="135">
    </div>
    <div class="bubble-footer">Iryna Evseeva</div>
  </div>

  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/Maqsim">GITHUB</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/maqsim.jpg" width="135">
    </div>
    <div class="bubble-footer">Maqsim Diachenko</div>
  </div>

  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/julesbou">GITHUB</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/vborodean.jpg" width="135">
    </div>
    <div class="bubble-footer">Jules Boussekeyt</div>
  </div>

  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-linkedin" href="//www.linkedin.com/in/edvanzoolingen">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/edvz.jpg" width="135">
    </div>
    <div class="bubble-footer">Ed van Zoolingen</div>
  </div>
</div>
